
.bodyNavBar{
	height:7%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#34A853;
}

.bodyNavBar div{
	height:80%;
	width:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:15px;
	cursor:pointer;
}


.contentBox{
	height:90%;
}

.contentBodyBox{
	height:95%;
	display:flex;
	align-items:center;
	justify-content:center;
}

#ffBox, #twfBox{
	height:100%;
	width:100%;
}

#twfBox{
	display:block;
}

#ffBox{
	display:none;
}

.addFrTrpBtn{
	height:7%;
	border-bottom:0.1px solid gray;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#636466;
	background-color:white;
	cursor:pointer;
}

.addFrTrpBtn label{
	margin-left:10px;
}

#noteTOStart{
	position:absolute;
	padding-left:80px;
	padding-right:80px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:50%;
	text-align:center;
	color:gray;
	font-size:14px;
	width:50%;
}

.popUpTWFBox{
	border-radius:5px;
	overflow:hidden;
	position:absolute;
	height:80%;
	width:80%;
	top:15%;
	left:10%;
	z-index:1;
	display:none;
	visibility:hidden;
	opacity:0;
	display:block;
	transition: visibility 0.3s, opacity 0.2s linear;
}

.popUpBoxHeader{
	height:8%;
	color:#636466;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-right:15px;
	padding-left:15px;
	font-size:20px;
	background-color:white;
	border-bottom:0.5px solid lightgray;
}
.popUpBoxHeader label{
	font-size:16px;
	font-weight:bold
}

.popUpBoxScroll{
	height:92%;
	background-color:whitesmoke;
	overflow:scroll;
}

.boxBlocker{
	position:absolute;
	height:85.3%;
	background-color:black;
	opacity:0.5;
	width:100%;
	visibility:hidden;
	transition: visibility 0.3s, opacity 0.2s linear;
}

.srchppl{
	height:100%;
	border-bottom:0.1px solid gray;
	display:flex;
	align-items:center;
	justify-content:left;
	color:#636466;
	background-color:white;
	padding-left:20px;
	padding-right:20px;
	
}

.srchppl i{
	font-size:20px;
}

.inputFf{
	margin-left:5px;
	height:100%;
	width:100%;
	outline:none;
	border:none;
	font-size:16px;
}


.srchBar{
	height:8%;
	position:relative;
}	

.overflowBox{
	height:0vh;
	width:100%;
	background-color:#d6d6d6;
	position:absolute;
	overflow:scroll;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	transition:height 0.3s;
}

.frndsBox{
	height:50vh;
}

#ffBtn, #twfBtn{
	transition:border-bottom 0.5s;
}

#twfBtn{
	border-top:10px solid #34A853;
	border-bottom:10px solid darkgreen;
}

#ffBtn{
	border-top:10px solid #34A853;
	border-bottom:10px solid #34A853;
}