@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/bakso-sapi');

body{
	margin:0;
	background-color:whitesmoke;
	font-family: 'Poppins', sans-serif;
	display:flex;
	justify-content:center;
}
.mainWrapper{
	height:100%;
	width:100%;
	min-height:700px;
	min-width:300px;
	max-width:700px
}


.secondaryWrap{
	height:99%;
	width:100%;
	display:flex;
	align-items:center;
}


.bodyWrap{
	height:100%;
	width:100%;
	overflow:scroll;
	position:relative;
}


.backBtnIco{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	height:100%;
	margin-left:5px;
	cursor:pointer;
}

.headerWrapper{
	background-color:white;
	height:6%;
	border-bottom:0.2px solid lightgray;
	padding:0px 5px 0px 5px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	position:sticky;
	top:0;
	z-index:1;
}

.backHeadersText{
	padding:5px;
	font-size:17px;
}

.infoBtn{
	margin:5px;
	cursor:pointer;
}

