body{
	background-color:white;
	margin:0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

#GSLogo{
position:absolute;
max-width:40%;
display:block;
left:0;
right:0;
bottom:10;
margin-left:auto;
margin-right:auto;
}

#GSWrapRealTimeText{
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	color:#636466;
	font-weight:700;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


#GSWrapper{
position:relative;
height:28%;
}


.GS-box-slider{
	height:30%;
	padding: 0px 20px 0px 20px;
}


.GS-imgSlider{
	height:100%;
	background-color:lightgray;
}

.GS-box-slider-text{
	padding:20px 5px 0px 20px;
}

#text-getStart{
	padding:0px 0px 3px 0px;
	font-size:20px;
	color:Black;
}

#text-dontMiss{
	padding:0px 0px 0px 0px;
	color:#636466;
}

.GS-box-buttons{
	position:relative;
	margin: 15px 0px 0px 0px;
	padding: 0px 20px 0px 20px;
	display:inline-block;
	width:100%;
}



.GS-box-btn{


}

.GS-btn{
	background-color:#4285F4;
	border-radius:2px;
	color:white;
	border:none;
	display:block;
	margin:0 auto;
	height:5%;
	width:100%;
	font-weight:600;
	margin: 0px 0px 7px 0px;
}

#btn-signUp{
	background-color:white;
	border:1px solid #4285F4;
	color:#4285F4;
}



#or{
	text-align:center;
	color:gray;
	width:100%;
	position:relative;
	padding-bottom:3px;
}
