









.searchIcon{
	height:40%;
	position:absolute;
	right:25%;
	margin-top:0.2%;
}

.primary-right-box{
	width:30%;
	background-color:#e0d2c2;
	border-left:1px solid #bd9d80;
	height:103.9%;
	display:none;
}


.secondary-right-box{
	width:90%;
	height:100%;
	display:flex;
	margin-left: 10%;
}

.divBody{
	width:100%;
	height:100%;
}


#upAndDelFormBox{
	display:none;
}


.contentDivBody{
	height:80%;
	width:100%;
	margin:0 auto;
}



.memDetail{
	background-color:white;
	padding-left:20px;
}

.btnUpdate, .btnArchive{
	background-color:#bd9d80;
	color:white;
	height:6%;
	width:60%;
	border:none;
	border-radius:30px;
	margin:5;
	outline:none;
	margin-top: -20%;
}

.memDetail{
	height:8%;
	width:80%;
	border:none;
	border-radius:30px;
	margin:5;
	outline:none;
}

.btnUpdate, .btnArchive{
	height:6%;
	width:60%;
	border:none;
	border-radius:30px;
	margin:5;
	outline:none;
	margin-left: 11%;
}


#descrip-id{
	color:#ae804c;
	font-size:15px;
    margin-left: 8%;
    margin-bottom: 2%;
	margin-top: -4%;
}

.descrip-right-box{
	color:#ae804c;
	font-size:15px;
    margin-left: 5.5%;
    margin-top: 2%;
}

#descrip-id{
	padding-left:10px;
}

.box-btns{
	margin:0 auto;
	width:85%;
    padding-top: -50%;
}



.btnUpdate:hover, .btnArchive:hover, .btnSubmit:hover{
color: white;
  background-color:#ae804c;
  box-shadow: 0 2.5px  #936037;
  transform: translateY(2.5px); 
  cursor: pointer;
}

.btnUpdate, .btnArchive, .btnSubmit{
font-size: 15px;
}



.searchIdBox{
	height:6.5%;
	width:66.5%;
	margin-bottom:5%;
    margin-left: 8%;
    
}

.searchIdIcon{
	height:50%;
	
}

#searchIdInput{
	height:100%;
	width:100%;
	border:none;
	border-radius:30px;
	margin:5;
	outline:none;
	background-color:white;
	padding-left:20px;
	color:#ae804c;	
}

.descrip-right-box{
	font-size:18px;
	font-weight:600;
	padding-top:5%;
	padding-left:5%;
	padding-bottom:9%;
}

.input-elem-box{
	width:85%;
    height: 80%;
	margin:0 auto;
	margin-top:4%;
    margin-bottom: -50%;
}

.drpDwnBtnMng{
	width:13%;
	height:75%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #bd9d80;
	border-radius:40px;
	color:white;
	cursor:pointer;
	font-size:13px;
	
}


.drpDwnBtn:hover{
	color:#e0d2c2;
	background-color:#ae804c;
}

#closeIcon{
	width:10%;
	margin-top:15%;
    margin-left: 82%;
}

#closeIcon:hover{
  box-shadow: 0 4.5px  #936037;
  transform: translateY(4.5px); 
  cursor: pointer;
	border: none;
	border-radius: 80px 80px;
}

.addMemManFormBox{
	height:80%;
	width:85%;
	margin:0 auto;
	margin-top: 3%;
}


.fill{
    color:#ae804c;
    margin-left: 11%;
    font-size: 14px;
	margin-top: -3%;
}

.inputBox{
	background-color:white;
	padding-left:20px;
	color:#ae804c;
	height:8%;
	width:80%;
	border:none;
	border-radius:30px;
	margin:5;
	outline:none;
}

.accCreationBtnBox{
	margin:0 auto;
	width:85%;
    font-size: 15px;
}

.btnSubmit{
	height:6%;
	width:60%;
	border:none;
	border-radius:30px;
	margin:5;
	outline:none;
	background-color:#bd9d80;
	color:white;
	margin-left: 12%;
	margin-top: -50%;
}



#IcoSettings{
	position:absolute;
	color:red;
	display:block;
	margin-left:91%;
}


.popup-content{
    height: 50%;
    width: 80%;
    background-color:#e7ded3;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    left: 5.5%;
    top: 20%;
}

.popup{
    background: rgba(0,0,0,0.6);
    width: 23%;
    height: 102%;
    position: absolute;
    top:0;
    display: none;
}

#btnSubscribe{
	width:60%;
	height:10%;
	border:none;
	font-size: 15px;
	border-radius: 25px 25px 25px 25px;
    margin-top: 83%;
    margin-left: 20%;
	background-color:#bd9d80;
	color:white;
}

#btnSubscribe:hover{
	color: white;
  background-color:#ae804c;
  box-shadow: 0 2.5px  #936037;
  transform: translateY(2.5px); 
  cursor: pointer;
}

h2{
    color: #ae804c;
	text-align: center;
}

#membership{
	color: #ae804c;
	margin-left: 5%;
	font-size: 14px;
}