@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/bakso-sapi');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 



.bg{
    width: 100%;
    height: auto;
    background-size: contain;
}


.loading{
    display: flex;
    margin-top: -15%;
    margin-left: 46%;
    font-size: 30px;
    font-family: 'Bakso Sapi', sans-serif;
    color: #bd9d80;
}


.container{
    display: flex;
    margin-top: .5%;
    margin-left: 35%;
	height: 20px;
	background-color: #ccc;
	position: relative;
	border-radius: 7px;
    width: 30%;

}
.container .progress-bar {
	position: absolute;
	height: 100%;
	border-radius: 7px;
	border-style: solid;
	border-color: #D2691E;
	background-color:#FFA07A;


	animation: progress-animation 5s forwards;
}


#play-animation{
	animation: progress-animation 5s forwards;
}

@keyframes progress-animation{
	0% {width: 0%; }
	100% {width: 100%;}

}