@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/bakso-sapi');


.dashboard{
    margin-top: 1%;
    margin-left: 17%;
}

#boxSignUpText{
	width:auto;
	height:14%;
	margin-left:4%;
	margin-right:4%;
    margin-top:4%;
    color: #cca16a;
}


#boxSignUpForm{
	margin-left:10%;
    margin-top: 1%;
}


#signUpText{
    margin-left: 40%;
	font-weight:630;
	font-size:30px;
}


#signUpSemiText{
	color:#606770;
    margin-left: 43.5%;
}

#fullNameBox{
	display:inline-block; 
    margin-top: -2%;
    margin-left: 5%;
}


.signUpInput{
    margin-left: 0%;
    width: 40%;
    height: 6.5%;
    margin-top: 1.5%;
    padding-left: 10px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    background-color: #f2f2f2;
}


#Note, note{
    color:#946038;
    margin-top: 0%;
}

#secondBox{
    margin-top: 2%;
    margin-left: 5%;
}

#divider{
    background-color: #e0d2c2;
    width: 45%;
    height: 65%;
    margin-left: 10%;
    border-radius: 15px 15px 15px 15px;
}

#caption{
     color: #946038;
}

#signUpEmail, #signUpPassword,#signUpConfirmPassword{
	background-color:#f2f2f2;
	border:1px solid #f2f2f2;
    width: 40%;
    height: 6.5%;
    display: block;
    margin-left: 21%;
}

#btns{
    margin-top: -2.5%;
}

.signUpInput::placeholder{
	color: darkgray;
    width: 60%;
}


#btnCancel{
	width:20%;
	height:6.5%;
	border:none;
    font-size: 15px;
	border-radius: 25px 25px 25px 25px;
    background-color:#f2f2f2;
    color: darkgray;
    margin-top: 5%;
}

#btnCancel:hover{
    background-color:darkgray;
    color: white;
}


#btnSignUp{
	width:20%;
	height:6.5%;
	border:none;
	font-size: 15px;
	border-radius: 25px 25px 25px 25px;
    margin-top: 5%;
    margin-left: 28%;
	background-color:#cca16a;
	color:white;
}

#btnSignUp:hover{
	background-color:#946038;
	color:white;
}


.qrside{
    margin-top: -39.4%;
    margin-left: 60%;
    background-color: #e0d2c2;
    width: 30%;
    height: 64.5%;
    border-radius: 15px 15px 15px 15px;
}

#lid{
    margin-left: 30%;
    color: #946038;
}

#capt{
    color: #946038;
}

#btnGenerate{
	width:200px;
	height:8%;
	border:none;
	font-size: 15px;
	border-radius: 25px 25px 25px 25px;
    margin-top: 53%;
    margin-left: 8%;
	background-color:#cca16a;
	color:white;
}

#btnGenerate:hover{
	background-color:#946038;
	color:white;
}


#btnDownload{
	width:200px;
	height:8%;
	border:none;
	font-size: 15px;
	border-radius: 25px 25px 25px 25px;
    margin-top: 5%;
	background-color:#cca16a;
	color:white;
}

#btnDownload:hover{
	background-color:#946038;
	color:white;
}

#btnPrint{
	width:200px;
	height:8%;
	border:none;
	font-size: 15px;
	border-radius: 25px 25px 25px 25px;
    margin-top: 2%;
    margin-left: 30%;
	background-color:#cca16a;
	color:white;
}

#btnPrint:hover{
	background-color:#946038;
	color:white;
}